/* Event Section Styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.things-to-do-section {
  padding: 20px;
  font-family: "roboto", serif;
  padding-bottom: 100px;
  width: 100%;
}

.section-title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 30px;
  padding: 60px 10%;
  padding-top: 20px;
  align-content: center;
}

.grid-item {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 15px;
  color: white;
  text-align: center;
}

.overlay h3{
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: .8px;
}

.item-long{
  grid-column: span 2;
}

.details-box {
  margin-top: 20px;
  background: #f9f9f9;
  padding: 80px 0 20px 0;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: grid;
  justify-content: center;
}

.details-title {
  color: #f47a00;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.details-desc {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 20px;
  margin: 0 20vw;
}

.details-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
  padding: 60px 0;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
}

.details-cardItem{
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 400px;
  height: 250px;
  cursor: pointer;
  border-radius: 15px;
  justify-content: center;
}

.details-card-img{
  width: 100%;
  height: 100%;
  background-color: #e5e7eb;
  border-radius: 1.5rem;
  object-fit: cover;
}

.details-card-info{
  position: absolute;
  bottom: -1.5rem;
  left: 1rem;
  right: 1rem;
  height: auto;
  background-color: rgb(246, 246, 246);
  border-radius: 0.5rem;
  padding: 0.8rem;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.05);
}

.details-card-info h3{
  font-size: clamp(0.8rem, 1.5vw, 0.925rem);
  font-weight: 300;
  color: #6b7280;
  padding-bottom: 0.5rem;
  margin: 0;
}

.details-card-info p{
  font-size: clamp(0.9rem, 1.7vw, 1rem);
  font-weight: 500;
  color: #111827;
  margin: 0;
}

.event-nav-btn{
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: rgb(231, 50, 50);
  border-radius: 30px;
  font-size: 3rem;
  width: 30%;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  transition: transform 0.2s ease-in, color 0.2s ease-in;
}

.event-nav-btn:hover{
  transform: scale(1.1);
  color:rgba(255, 0, 0)
}

@media screen and (max-width: 1650px){
  .details-card-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 40px;
  }
}

@media screen and (max-width: 1300px){
  
  .section-title {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 40px;
  }

  .section-desc {
    text-align: center;
    margin-bottom: 0px;
    padding: 20px 10%;
    font-size: 1.2rem;
    color: #555;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 30px 30px;
    padding: 40px 10%;
    align-content: center;
  }
  
  .grid-item {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .item-long{
    grid-column: span 1;
  }

}

@media screen and (max-width: 1220px){
  .details-card-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 40px;
  }
}

@media screen and (max-width: 850px){
  .details-card-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 80px 40px;
  }
}